.container {
  text-align: center;
  padding: 5px;
  margin-top: 20px;
  padding-top: 5px;
}

.text {
  color: white;
  -webkit-text-stroke: 0.5px white;
  font-size: 90px;
  margin: 5px 0px 0px 0px;
}

