.container {
  text-align: center;
  margin-top: 5px;

}

.text {
  color: white;
  -webkit-text-stroke: 0.5px white;
  font-size: 65px;
  margin: 0px
}

@media (max-width: 650px) {
  .text {
    font-size: 40px;
  }
}