.flex {
  display: flex;
}

.name {
  margin-left: 5px;
  margin-top: 5px;
}

.pile {
  height: 50px;
  margin: 5px 0px 0px 0px;
}

.pileCard {
  height: 50px;
  width: 70px;
  border: 3px solid white;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: purple;
  color: white;
  position: absolute;

  box-shadow: -2px 2px 0px rgba(0, 0, 0, 0.1);
}

.pilePlaceholder {
  height: 50px;
  width: 70px;
  border: 5px black dotted;
  border-radius: 10px;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  height: 50px;
  width: 70px;
  border: 3px solid white;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: purple;
  color: white;
}

.safe {
  color: white;
  background-color: green;
  padding: 5px;
  margin-left: 5px;
  text-shadow: 0px 4px 4px #00000026;
}

.eliminated{
  color: white;
  background-color: #CD554F;
  padding: 5px;
  margin-left: 5px;
  text-shadow: 0px 4px 4px #00000026;
}

.winnerCard {
  height: 50px;
  width: 70px;
  border: 3px solid white;
  border-radius: 10px;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: space-evenly;

  color: black;
  background-color: white;
  padding-left: 5px;
}

.winnerCard > h4 {
  transform: rotate(-90deg);
  margin: 0;
  padding: 5px;
}

@media (max-width: 850px) {
  .card, .cardPlaceholder, .pilePlaceholder, .pileCard, .topPileCard {
    height: 40px;
    width: 50px;
  }

  .pile {
    height: 40px;
  }

  .safeMobile {
    background-color: green;
    display: flex;
    padding: 5px;
  }

  .eliminatedMobile {
    background-color: #CD554F;
    display: flex;
    padding: 5px;
  }
}