/* OPPONENTS */
.pile {
  height: 104px;
  width: 70px;
  margin-right: 80px;
}

.pileCard {
  height: 50px;
  width: 70px;
  border: 3px solid white;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: purple;
  color: white;
  position: absolute;

  box-shadow: -2px -2px 0px rgba(0, 0, 0, 0.1);
}

.pilePlaceholder {
  height: 50px;
  width: 70px;
  border: 5px black dotted;
  border-radius: 10px;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: absolute;
}

.card {
  height: 50px;
  width: 70px;
  border: 3px solid white;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: purple;
  color: white;
  
  position: absolute;
}

.safe {
  color: white;
  background-color: green;
  padding: 2px 10px 2px 10px;
  margin-left: 10px;
  text-shadow: 0px 4px 4px #00000026;
}

.eliminated{
  color: white;
  background-color: #CD554F;
  padding: 2px 10px 2px 2px;
  margin-left: 10px;
  text-shadow: 0px 4px 4px #00000026;
}

.winnerCard {
  height: 50px;
  width: 70px;
  border: 3px solid white;
  border-radius: 10px;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: space-evenly;

  color: black;
  background-color: white;
  padding-right: 5px;

  position: absolute;
}

.winnerCard > h4 {
  transform: rotate(90deg);
  margin: 0;
  padding: 5px;
}