.normal {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
}
.center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
}

.columnCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}