.row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.rowEnd {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.rowCenter {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.rowSpaceEvenly {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.columnCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.columnEnd {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.columnSpaceEvenly {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.columnSpaceBetween {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}