html,
body {
  background: linear-gradient(180deg, rgba(131,86,204,1) 0%, rgba(113,199,218,1) 100%);
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: white;
}

h1 {
  font-family: "Luckiest Guy";
  margin-top: 5px;
  font-size: 36pt;
}

h2 {
  font-family: "Luckiest Guy";
  font-size: 30px;
  margin-top: 5px;
  margin-bottom: 0;
}

h3 {
  font-size: 22px;
  margin: 0px 0px 10px 0px;
  text-transform: capitalize;
}

h4 {
  font-size: 18px;
  margin: 0px 0px 10px 0px;
  text-transform: capitalize;
}

p {
  font-size: 16px;
}

input, button {
  font-family: inherit;
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
