/* SHARED */
.navbar {
  margin-bottom: 20px;
}

.backButton {
  height: 70%;
  width: 60%;
}

.container {
  background-color: rgba(61, 172, 59, 0.5);
  border: 10px solid white;
  border-radius: 10px;
  height: 80%;
  padding: 10px
}

.safe {
  color: white;
  background-color: #3DAC3B;
  text-shadow: 0px 4px 4px #00000026;
}

.eliminated{
  color: white;
  background-color: #CD554F;
  text-shadow: 0px 4px 4px #00000026;
}