.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.title > span {
  color: #0070f3;
}

.button {
  width: 200px;
  height: 100px;
}